body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
  touch-action:pan-x;
}
#u1427_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/金廷隆_个人简历/u404_state0.jpg');
  background-position:left center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u1427_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1429 {
  position:absolute;
  left:20px;
  top:250px;
}
#u1429_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background-image:none;
}
#u1429_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1430_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:260px;
  word-wrap:break-word;
}
#u1429_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  visibility:hidden;
  background-image:none;
}
#u1429_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432 {
  position:absolute;
  left:20px;
  top:470px;
}
#u1432_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background-image:none;
}
#u1432_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1433_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:260px;
  word-wrap:break-word;
}
#u1432_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  visibility:hidden;
  background-image:none;
}
#u1432_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435 {
  position:absolute;
  left:20px;
  top:690px;
}
#u1435_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background-image:none;
}
#u1435_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1436_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:260px;
  word-wrap:break-word;
}
#u1435_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  visibility:hidden;
  background-image:none;
}
#u1435_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1438 {
  position:absolute;
  left:20px;
  top:910px;
}
#u1438_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background-image:none;
}
#u1438_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1439_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:260px;
  word-wrap:break-word;
}
#u1438_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  visibility:hidden;
  background-image:none;
}
#u1438_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441 {
  position:absolute;
  left:20px;
  top:1130px;
}
#u1441_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background-image:none;
}
#u1441_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 5px 30px rgba(0, 0, 0, 0.0980392156862745);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1442_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:260px;
  word-wrap:break-word;
}
#u1441_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  visibility:hidden;
  background-image:none;
}
#u1441_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:left;
}
#u1443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:360px;
  height:1px;
}
#u1444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1447 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1447_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background-image:none;
}
#u1447_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:20px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:7px;
  height:20px;
}
#u1450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  visibility:hidden;
  background-image:none;
}
#u1447_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:20px;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:7px;
  height:20px;
}
#u1453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454 {
  position:fixed;
  right:0px;
  top:0px;
  width:60px;
  height:60px;
  overflow:hidden;
  visibility:hidden;
}
#u1454_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1454_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:23px;
  width:14px;
  height:14px;
}
#u1458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
